<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body class="bg-gradient-to-br from-indigo-700 to-fuchsia-400 min-h-screen">
    <header class="bg-indigo-900 py-3 grid grid-cols-12">
      <h1 class="text-white text-3xl col-span-10 col-start-2 text-center"><a href="/">SBOM Scorecard</a></h1>
    </header>
    <div class="grid grid-cols-12">
      {% block content %}{% endblock%}
    </div>
  </body>
</html>
