{% extends "base.html" %}
{% block content %}
<div class="col-span-6 col-start-4  mt-5">
  <div class="rounded bg-white dark:bg-green-900 p-4 text-gray-600 dark:text-gray-200">
    <div>
      <p>
        This website allows you to upload a software bill of materials (SBOM) and get a grade. The grade is based on how complete the information is. This is based entirely on the <a href="https://github.com/eBay/sbom-scorecard">sbom-scorecard</a> tool.
      </p>
    </div>
    {% include "partials/form.html" %}

  </div>
</div>
{% endblock %}
