<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body class="bg-gradient-to-br from-indigo-700 to-fuchsia-400 min-h-screen">
    <header class="bg-indigo-900 py-3 grid grid-cols-12">
      <h1 class="text-white text-3xl col-span-10 col-start-2">SBOM Scorecard</h1>
    </header>
    <div class="grid grid-cols-12">
      <div class="col-span-8 col-start-3">
        <div class="rounded bg-white mt-20 p-4">
          <h2 class="text-2xl font-bold text-center text-gray-600">Your scorecard</h2>
          {% for score_item, score_item_values in score_data.items() %}
          <div class="py-4">
            <h3 class="text-lg font-bold text-gray-600">{{score_item}}</h3>
            <p>{{score_item_values['Ratio'] * score_item_values['MaxPoints']}} / {{ score_item_values['MaxPoints'] }}</p>
            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-indigo-600 h-2.5 rounded-full" style="width: {{ score_item_values['Ratio'] * 100 }}%"></div>
            </div>
            {% if score_item_values['Reasoning'] %}
            <p>Reasoning: {{score_item_values['Reasoning']}}</p>
            {% endif %}
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>